<div class="jumbotron">
	<h1 class="wow bounceInUp">Hello! I am Annalyn!</h1>
	<p>I am a front-end web developer base in Barrie, ON. I work as a freelancer.  You can hire me anytime.  While I build WordPress site for my clients, most of my days are spent enhancing my skills on Ruby On Rails.  On my free time I volunteer as a mentor at Ladies Learning Code (Barrie Chapter) workshops.
	</p>
</div>
