<div class="intro wow fadeInDown">
	<div class="jumbotron" data-0="opacity: 1" data-180="opacity: 0">
		<%= image_tag 'me.png', :alt => 'Annalyn' %>
		<h1 class="wow pulse">Hello! I am Annalyn!</h1>
		<p>I build things like websites.</p>
		<p><button type="button" class="btn btn-success btn-lg"><a href="mailto:annalyn@helloweb.ca">I am available for hire</a></button></p>
	</div>
</div>



	<div class="social">
		<div class="container">
			<a href="https://twitter.com/manilenya"><i class="fa fa-twitter-square fa-lg"></i></a>
			<a href="http://www.linkedin.com/in/annalynaguilar"><i class="fa fa-linkedin-square fa-lg"></i></a>
			<a href="http://github.com/manilenya"><i class="fa fa-github-alt fa-lg"></i></a>
			<a href="http://instagram.com/helloweb"><i class="fa fa-instagram fa-lg"></i></a>
			<a href="https://www.google.com/+NalenAguilar"><i class="fa fa-google-plus-square fa-lg"></i></a>
		</div>
	</div>

	<div class="aboutMe">
		<div class="container">
			<h2 class="wow">About Me</h2>
			I am a front-end web developer base in Barrie, ON. I work as a freelancer.  You can hire me anytime.  While I build WordPress site for my clients, most of my days are spent enhancing my skills on Ruby On Rails.  On my free time I volunteer as a mentor at Ladies Learning Code (Barrie Chapter) workshops.
		</div>
	</div>

	<hr>

	<div class="recentP">
		<div class="container" data-100-bottom="opacity: 0;"
                data-bottom="opacity: 1;">
		<h2>Recent Works</h2>
			<div class="row">
				<div class="col-xs-4">
					<img src="images/Web-Design-tkiriakou-medium.png" alt="Thomas Kiriakou Sports Conditioning"/>
					<button class="btn btn-primary" data-toggle="modal" data-target=".tk-modal-lg"></button>

					<div class="modal fade tk-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-lg">
					    <div class="modal-content">
					    	<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title">TK Sports Performance Conditioning</h4>
					      </div>
					      <div class="modal-body">
						      <img src="images/Web-Design-tkiriakou.png" alt="Thomas Kiriakou Sports Conditioning"/>
						      <p>
						      	Thomas Kiriakou is a Certified Sports Conditioning Coach, Advanced Personal Training Specialist, Certified Hockey Training Coach, Sports Performance Nutrition Certified with Precision Nutrition and Founder of TK Sports Performance Training.
						      </p>
						      <p>
						      	He approached me to create a WordPress website for his company.
						      </p>
						     </div>
						     <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary"><a href="http://thomaskiriakou.com" target="_blank">Visit live site</a></button>
					      </div>
					    </div>
					  </div>
					</div>

				</div>

				<div class="col-xs-4">
					<img src="images/Web-Design-adele-newsletter.jpg" alt="Adele Fridman's Newsletter"/>
					<button class="btn btn-primary" data-toggle="modal" data-target=".adele-modal-lg"></button>

					<div class="modal fade adele-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-lg">
					    <div class="modal-content">
					    	<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title">Adele Fridman's Newsletter</h4>
					      </div>
					      <div class="modal-body">
						      <img src="images/Web-Design-adele-newsletter.png" alt="Adele Fridman's Newsletter"/>
						      <p>
						     		Adele Fridman is a celebrity Nutritionist and leading fitness and wellness expert.  Creating email newsletter template for her company is one of the many services I was asked to do for her.

						     		She's amazing and I cannot wait to do more stuff with her.
						      </p>
						     </div>
						     <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary"><a href="http://helloweb.ca/client/Adele/adele-newsletter.html" target="_blank">Visit site</a></button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>

				<div class="col-xs-4">
					<img src="images/Web-Design-Linenstore.jpg" alt="Linen Store"/>
					<button class="btn btn-primary" data-toggle="modal" data-target=".linen-modal-lg"></button>

					<div class="modal fade linen-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-lg">
					    <div class="modal-content">
					    	<div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title">Linen Store</h4>
					      </div>
					      <div class="modal-body">
						      <img src="images/Web-Design-Linenstore.png" alt="Linen Store"/>
						      <p>
						     		Linen store is an e-commerce site built on BigCommerce.  I was approached by Allie of Allure Graphic Design to code the e-commerce site for her client in the US.
						      </p>
						     </div>
						     <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-primary"><a href="http://linenstore.com" target="_blank">Visit live site</a></button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>