/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require animate
 *= require font-awesome
 */

@import 'bootstrap';

/* variables */

$primary-color: #5AA9A4;

img {
		max-width: 100%;
	}


body {

	font-family: 'Montserrat', sans-serif;

	.center {
		text-align: center;
	}

	.navbar {
		margin-bottom: 0;

		.navbar-brand {
			font-weight: 700;
		}
	}

	.intro {
		background: url(/images/elmvale.jpg) no-repeat 100%;
		background-size: cover;
	
		.jumbotron {
		text-align: center;
		color: #fff;
		background: transparent;
		text-shadow: 0 0 1px #000;

			.btn-success{
				background: transparent;
				border-width: 4px;
				border-radius: 0;

				&:focus {
						outline: none;
					}

				a {
					color: #fff;

					&:hover {
					text-decoration: none;
					}
				}
			}
		}
	}

	.social, .aboutMe {
		text-align: center;
	}

	.social {
		padding: 45px 20px;
		.fa{
		font-size: 3em;
		padding: 10px;
		color: #515151;
			&:hover {
				color: #aeaeae;
			}
		}
	}

	.recentP {
		text-align: center;
		background: #EEE;

		.col-xs-4 {
			width: 100%;
			padding: 10px 20px;

			.btn-primary {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 5%;
				width: 90%;
				border-radius: 0;
				border: none;
				color: #000;
				background: transparent;
				height: 100%;
				-webkit-transition: opacity 1s ease-in-out;
				  -moz-transition: opacity 1s ease-in-out;
				  -ms-transition: opacity 1s ease-in-out;
				  -o-transition: opacity 1s ease-in-out;
				  transition: opacity 1s ease-in-out;

				&:hover {
					background: #eee;
					zoom: 1;
					filter: alpha(opacity=50);
					opacity: 0.5;
				}
			}

			.modal-body p {
				text-align: left;
				padding: 20px 0 0;
			}

			.modal-footer {
				.btn-primary{
					position: relative;
					left: 0;
					width: auto;
					border: 1px solid $primary-color;
					border-radius: 4px;

					&:hover {
						background: none;
						filter:alpha(opacity=1);
						opacity: 1
					}
				}
			}
		}
	}

	footer {
		padding: 40px 20px;
		border-bottom:5px solid #515151;

	}

	/* Inquiry */

	.col-xs-5 {
		width: 100%;
	}
}


@media screen and (min-width:40em) {

	body {

		.navbar {
			margin: 0 auto;
			border: none;
			border-radius: 0;
			background: #333333;

			.navbar-brand {
				font-size: 24px;
				color: #ddd;
				margin-left: 100px;

				&:hover {
					color: #ccc;
				}
			}

			.navbar-brand, .nav, .navbar-toggle {
				margin-top: 25px;
			}

			.nav {
				margin-right: 100px;

				li {
					a:hover {
						color: #ddd;
					}
				}
			}

			.navbar-right:last-child {
				margin-right: 100px;
			}
		}
		.navbar-default {
			background-color: none;
			border-color: none;		
		}

		.intro {
			height: 600px;
		}

		.social {
			padding: 0;

			.fa {
				font-size: 4em;
			}
		}

		.aboutMe {
			margin: 50px auto 0;
			padding: 100px 0;
		}

		.recentP {

			padding: 70px 0;

			.col-xs-4 {
				width: 33.3%;
			}
		}

		.newInquiry, .tyInquiry {
			margin-left: 100px;

			.col-xs-5 {
				width: 60%;
			}
		}
	}	
}
